@tailwind base;

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Monserrat-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Monserrat-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Monserrat-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/Monserrat-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}



h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

@tailwind components;

@tailwind utilities;